<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-88nc{font-weight:bold;border-color:inherit;text-align:center}
.tg .tg-l711{border-color:inherit}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-uys7{border-color:inherit;text-align:center}
.tg .tg-us36{border-color:inherit;vertical-align:top}
.tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-p8bj{font-weight:bold;border-color:inherit;vertical-align:top}
</style>
<table class="tg" align="center">
  <tr>
    <th class="tg-88nc" rowspan="2">Período do Dia</th>
    <th class="tg-88nc" colspan="5">Turno</th>
    <th class="tg-88nc" rowspan="2">Número mínimo de agentes necessários</th>
  </tr>
  <tr>
    <td class="tg-88nc">1</td>
    <td class="tg-88nc">2</td>
    <td class="tg-88nc">3</td>
    <td class="tg-88nc">4</td>
    <td class="tg-7btt">5</td>
  </tr>
  <tr>
    <td class="tg-l711">6h-8h</td>
    <td class="tg-uys7">x</td>
    <td class="tg-uys7"></td>
    <td class="tg-uys7"></td>
    <td class="tg-uys7"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">48</td>
  </tr>
  <tr>
    <td class="tg-l711">8h-10h</td>
    <td class="tg-uys7">x</td>
    <td class="tg-uys7">x</td>
    <td class="tg-uys7"></td>
    <td class="tg-uys7"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">79</td>
  </tr>
  <tr>
    <td class="tg-us36">10h-12h</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">65</td>
  </tr>
  <tr>
    <td class="tg-us36">12h-14h</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">87</td>
  </tr>
  <tr>
    <td class="tg-us36">14h-16h</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">64</td>
  </tr>
  <tr>
    <td class="tg-us36">16h-18h</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">73</td>
  </tr>
  <tr>
    <td class="tg-us36">18h-20h</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">82</td>
  </tr>
  <tr>
    <td class="tg-us36">20h-22h</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow"></td>
    <td class="tg-uys7">43</td>
  </tr>
  <tr>
    <td class="tg-us36">22h-00h</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow">x</td>
    <td class="tg-c3ow">x</td>
    <td class="tg-uys7">52</td>
  </tr>
  <tr>
    <td class="tg-us36">00h-06h</td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow"></td>
    <td class="tg-c3ow">x</td>
    <td class="tg-uys7">15</td>
  </tr>
  <tr>
    <td class="tg-p8bj">Custo diário por agente</td>
    <td class="tg-us36">170</td>
    <td class="tg-us36">160</td>
    <td class="tg-us36">175</td>
    <td class="tg-us36">180</td>
    <td class="tg-us36">195</td>
    <td class="tg-us36"></td>
  </tr>
</table>